---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Experience from '../components/Experience.astro'

import ibm_logo from '../images/ibm-logo.webp'
import ExperienceEntry from '../components/ExperienceEntry.astro'

const title = 'Jack O\'Connor'
const link = '/'
const link_text = `${String.fromCodePoint(0x02190)}Home`
const link_on_right = false

 
const company = 'IBM'
const company_logo = ibm_logo
const role = 'Software engineer'
const dates = '2020 - 2021'
const all_skills = {category: 'Test', skills: [['Skill 1', 'Skill 2']]}
---

<Layout title={'Résumé'} description={'Placeholder text'}>
    <Header title={title} link={link} link_text={link_text} link_on_right={link_on_right} />
    <div class='container'>
       <main>    
            <h1>Résumé</h1>
            <h2>Experience</h2>
            <Experience company={company} company_logo={company_logo} role={role} dates={dates} all_skills={all_skills}>
                <ExperienceEntry>
                    <p>Bullet point 1</p>
                    <p>Bullet point 2</p>
                    <p>Bullet point 3</p>
                </ExperienceEntry>
            </Experience>
            <h2>Education</h2>
            <Experience />
            <h2>Certifications</h2>
            <Experience />
        </main>
    </div>
</Layout>

<style>
main {
    margin: auto;
    max-width: 800px;
    }

h1 {
    text-align: center;
}
</style>
