---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import SingleExperience from '../components/resume/SingleExperience.astro'
import MultiExperience from '../components/resume/MultiExperience.astro'
import ExperienceEntry from '../components/resume/ExperienceEntry.astro'

const title = 'Jack O\'Connor'
const link = '/'
const link_text = `${String.fromCodePoint(0x02190)}Home`
const link_on_right = false

// IBM text
import ibm_logo from '../images/ibm-logo.webp'
const ibm = 'IBM'
const ibm_dates = '2019-2021'

const ibm_role_1 = 'Software engineer'
const ibm_role_1_dates = '2019 - 2020'
const ibm_role_1_skills = ['Skill 1', 'Skill 2']

const ibm_role_2 = 'Software engineer'
const ibm_role_2_dates = '2020 - 2021'
const ibm_role_2_skills = ['Skill 1', 'Skill 2']

// UCC text
import ucc_logo from '../images/ucc-logo.svg'
const ucc_education = 'BSc (Hons) Data Science and Analytics'
const ucc = 'University College Cork'
const ucc_dates = '2019-2023'
---

<Layout title={'Résumé'} description={'Placeholder text'}>
    <Header title={title} link={link} link_text={link_text} link_on_right={link_on_right} />
    <div class='container'>
       <main>    
            <h1>Résumé</h1>
            <h2>Experience</h2>
            <MultiExperience company={ibm} company_logo={ibm_logo} total_time={ibm_dates}>
                <ExperienceEntry role={ibm_role_2} total_time={ibm_role_2_dates} skills={ibm_role_2_skills}
                    entry_number={1}>
                    <ul>
                        <li>Bullet point 1</li>
                        <li>Bullet point 2</li>
                        <li>Bullet point 3</li>
                    </ul>
                </ExperienceEntry>
                <ExperienceEntry role={ibm_role_1} total_time={ibm_role_1_dates} skills={ibm_role_1_skills}
                    entry_number={2}>
                    <ul>
                        <li>Bullet point 1</li>
                        <li>Bullet point 2</li>
                        <li>Bullet point 3</li>
                    </ul>
                </ExperienceEntry>
            </MultiExperience>

            <SingleExperience role={'Lab Demonstrator'} company={ucc} company_logo={ucc_logo}
                total_time={ucc_dates}>
                <ul>
                    <li>Bullet point 1</li>
                    <li>Bullet point 2</li>
                    <li>Bullet point 3</li>
                </ul>
            </SingleExperience>

            <h2>Education</h2>
            <SingleExperience role={ucc_education} company={ucc} company_logo={ucc_logo}
                total_time={ucc_dates}>
                <ul>
                    <li>Bullet point 1</li>
                    <li>Bullet point 2</li>
                    <li>Bullet point 3</li>
                </ul>
            </SingleExperience>
            <h2>Certifications</h2>
            <SingleExperience />
        </main>
    </div>
</Layout>

<style>
main {
    margin: auto;
    max-width: 800px;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 1rem;
}
</style>
